<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="app-systemjs.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="Angular Routes" stopProcessing="true" enabled="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension="." mimeType="application/xml" />
    </staticContent>
  </system.webServer>
</configuration>
